extends layout

block content
  h1 Holdings for #{year}

  table
    tr
      th Stock
      th Balance
      th Units
      th Price
      th Status
    each holding in holdings
      - 
        var time_to_no_tax = null 
        if (holding.age_months < 9)
          time_to_no_tax = '3m+'
        else if(holding.age_months < 12)
          time_to_no_tax = '<3m'
        
      tr(class=time_to_no_tax ? (time_to_no_tax == '3m+' ? 'short' : 'almost'):null)
        td= holding.stock
        td= holding.date
        td= holding.qty
        td= holding.price
        td= (holding.age_months>=12 ? 'READY' : '') 
